.circular-link {
  width: 10rem; // Default size
  height: 10rem;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 820;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-decoration: none;
  position: relative; // Make the arrow's positioning relative to this element

  &__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;

    circle {
      transition: r 0.3s ease; // Smooth transition for circle size change
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(275deg); // Center and rotate the arrow
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);

    .circular-link:hover & {
      transform: translate(-50%, -50%) rotate(320deg); // Rotate to 360 degrees on hover
    }
  }

  &__text {
    animation: rotate normal infinite 20s linear;
    transform-origin: 50% 50%;
    fill: #ffffff;

    .circular-link:hover & {
      animation-play-state: paused;
    }
  }

  // Media query for screens smaller than tablet size
  @media (max-width: 810px) {
    width: 8rem; // Reduced size for smaller screens
    height: 8rem;
    font-size: 18px; // Reduced text size

    &__arrow {
      font-size: 50px; // Adjusted arrow size
    }
  }

  // Media query for screens smaller than mobile size
  @media (max-width: 810px) {
    width: 7rem; // Further reduced size for very small screens
    height: 7rem;
    font-size: 18px;
    letter-spacing: 0.2rem;

    &__arrow {
      font-size: 40px; // Further reduced arrow size
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
